MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/campus-board
RESEND_API_KEY=resent_api_key
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
JWT_SECRET=long_random_string
PORT=3001
CLIENT_URL=http://localhost:5173